@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 245, 247, 250;
}

body[data-theme="dark"]  {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 24, 26, 32;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.canvas-segment {
  transition: all 0.3s ease;
}

.canvas-segment:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
