@tailwind base;
@tailwind components;
@tailwind utilities;

body{ 
    overflow-x: hidden;
    max-width: 100vw;
}

.gradient-bg {
    background: linear-gradient(to left,#ab95c0,#18a2c1) !important;
}